.login-form,
.register-form {
  padding: 30px;
  position: relative;
  width: 230px;
  display: flex;
  flex-direction: column;

  &__inputs-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .button-component {
    margin: 20px auto 0;
  }
}