.todo-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;

  &-text {
    position: relative;
    &.cross-out {
      &::before {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(-5px);
        width: calc(100% + 10px);
        height: 2px;
        background: black;
      }
    }
  }
}
