@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hide {
  opacity: 0;
}

.display-none {
  display: none;
}

.link-button {
  text-decoration: none;
  color: black;
  transition: opacity .15s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}
