.close-button-component {
  position: relative;
  display: block;
  outline: none;
  border: none;
  width: 12px;
  height: 12px;
  background: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 5px;
    width: 12px;
    height: 2px;
    background: black;
  }
  &:before {
    rotate: 45deg;
  }
  &:after {
    rotate: -45deg;
  }
}